<div class="container">
  <div class="d-flex align-items-center flex-column">
    <div class="card text-white bg-primary mb-3" style="max-width: 400rem;">
      <div class="card-header text-center">
        Create a meal
      </div>
      <div class="card-body">
      <%= bootstrap_form_with model: @meal, local: true, layout: :horizontal, label_col: "col-3", control_col: "col-9" do |f| %>
      <%= render partial: "meals/new", locals: {this_user: @user, f: f} %>

  <% end %>
  <br>
      </div>
    </div>
  </div>
</div>