<%= @meal.name %><br>

<% @meal.foods.each do | food | %>
<%= food.name %>
<% end %>


<h6><%= link_to("Delete your meal", meal_path(@meal), method: :delete, data:{confirm: "Do you really want to delete me?"}) %></h6>