<h1>This is a test</h1>

<% if @diet.errors.any? %>
        <h5 class="error"><%= @diet.errors.full_messages.to_sentence %></h5>
<% end %>

    <%= form_with model: [@user, @diet], method: 'post', local: true do |f| %>
  
   <%= render 'form', f: f %>

<% end %>